<% provide(:title, 'Home') %>
		<section id="intro">
		<div class="row">
			<div class="col-md-9 col-md-offset-1">
				<p class= "headline">JASON CORUM</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-1">
				<p class="lead">web developer</p>
			</div>
		</div>
	</section>

	<section id="work">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h3>EXAMPLES OF MY WORK</h3>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
			<%= image_tag "textbike.png", alt: "TextBike", class: "textbike" %>
			<p>Ever end up going to your regular Washington, DC Capital Bikeshare station for your daily commute only to find that tourists have snaked all the bikes? Yeah, me too...</p>
			<p>TextBike will text you 5-10 minutes before your commute to let you know if your bikestation is low on bikes.</p>
				<div class="btn-group">
	  			<button class="btn btn-default btn-xs btn-danger" type="button">
	    			<%= link_to "Check Out TextBike.com", "http://textbike.herokuapp.com/", target: "_blank" %>
	  			</button>
				</div>
				<br />
				<br />
			</div>
		</div>
	</section>
	<section id="languages">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h3>WEB DEVELOPMENT SKILLS</h3>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="logo-row">	
					<%= image_tag("html5.png", height: "120", width: "120", alt: "HTML", class: "logos") %>
					<%= image_tag("css3.jpg", height: "120", width: "120", alt: "CSS", class: "logos") %>
					<%= image_tag("header-ruby-logo.png", height: "120", width: "120", alt: "Ruby", class: "logos") %>
					<%= image_tag("rails.png", height: "120", width: "120", alt: "Rails", class: "logos") %>
					<%= image_tag("sql-logo.png", height: "120", width: "120", alt: "SQL", class: "logos") %>
				</div>
			</div>
		</div>
	</section>

	<section id="work">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h3>ABOUT ME</h3>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 content-row">
			<p>After a decade in online communications, I switched over to coding full-time as a junior web developer with Sol Systems, a solar energy finance and investment firm in Washington, DC. I help build and maintain the company’s web applications while also providing administrative support and custom  development in Salesforce.</p>
			<p>Prior to joining Sol Systems, I served as ​Director of ​Web and ​New ​Media for the Biotechnology Industry Organization where ​I ​managed the organization’s primary web properties and social media accounts. I have also served as ​Web ​Manager with World Food Program USA​,​ as well as an ​Online ​Communications ​Specialist with the Brookings Institution.</p>
			<p>I received a MA in Literature from Boston College, a BA from Millikin University, and studied back-end web development with General Assembly.</p>
				</div>
				<br />
				<br />
			</div>
		</div>
	</section>